<div id="about">

        <div id="wrapper" class="content">

            <div id="text" class="subcontent">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>

            <div id="slogan" class="subcontent">
                <b>I nostri ammaraggi sono i migliori</b>
            </div>

        </div>

        <div id="menu" class="content">

            <div id="menu-voices-1" class="menu-voices">
                <a href="chi-siamo.html">
                    <h1>Chi Siamo</h1>
                </a>
            </div>

            <div id="menu-voices-2" class="menu-voices">
                <a href="le-nostre-sedi.html">
                    <h1>Le nostre sedi</h1>
                </a>
            </div>

            <div id="menu-voices-3" class="menu-voices">
                <a href="i-nostri-servizi.html">
                    <h1>I nostri servizi</h1>
                </a>
            </div>

            <div id="menu-voices-4" class="menu-voices">
                <a href="recensioni.html">
                    <h1>Recensioni</h1>
                </a>
            </div>

            <div id="menu-voices-5" class="menu-voices">
                <a href="contattaci.html">
                    <h1>Contattaci</h1>
                </a>

            </div>
        </div>

    </div>