.card-flight{
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    overflow: auto;
    width: 450px;
    margin: 10px auto;
}
#wrapper_show-flight{
    text-align: center;
}
.left-card{
    float: left;
    width: 50%;
    font-size: 10pt;
    font-family: sans-serif;
}
.right-card{
    float: right;
    width: 40%;
    height: 122px;
    text-align: center;
    line-height: 120px;
    font-size: 50pt;
    font-family: sans-serif;
    text-shadow: 10px 11px 18px rgb(245, 6, 6), -10px -11px 18px rgb(0, 81, 255)
}
.left-card-down{
    margin-top: 10px;
}
.text{
    font-style: italic;
}
.text-value{
    font: bold 12px/1.5 Georgia, "Times New Roman", serif;
}