
<mat-card id="wrapper_show-flight">
    <mat-card>Voli da/per in base alla ricerca</mat-card>
    <mat-card>
        Nome volo <br>
        Numero volo <br>
        Ritardo volo <br>
        Destinazione volo <br>
        Partenza volo <br>
    </mat-card>
    <br>
    <mat-card>
        Nome volo <br>
        Numero volo <br>
        Ritardo volo <br>
        Destinazione volo <br>
        Partenza volo <br>
    </mat-card>
</mat-card>


<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
            
        </mat-panel-title>
        <mat-panel-description>
          Napoli - Roma a partire da 10€
        </mat-panel-description>
      </mat-expansion-panel-header>
      Nome volo <br>
      Numero volo <br>
      Ritardo volo <br>
      Destinazione volo <br>
      Partenza volo <br>
    </mat-expansion-panel>
  </mat-accordion>
