
#footer { 
    background-color: white;
    overflow: auto;
    border: blue solid 5px; 
    
}


#footer #logo {
    float: left;
    margin: 1px 1px 1px 1px; 
    
}

#footer #logo img { 
    width: 250px;
    height: 250px;
    
}

#footer #linktest .menu {
    float: inline-end;
    overflow: auto;
    margin: 5px 10px 7px 10px;
    text-align: center;
    font-weight: bold;
    
}

#footer #linktest .menu1 {
    text-align: center;
    font-weight: bold;
    height:230px;
    float: right;
    margin: 5px 40px 7px 10px;
       
}