<div class="rsbuttons">
    <button (click)="fShow(1)" class="bottonibelli" mat-stroked-button color="primary" > Componente1</button>
    <button (click)="fShow(2)"class="bottonibelli"  mat-raised-button color="accent">Componente2</button>
    <button (click)="fShow(3)" class="bottonibelli" mat-raised-button color="warn">Componente3</button>
    <button (click)="fShow(4)"class="bottonibelli" mat-raised-button>Login</button>
    <button (click)="fShow(5)" class="bottonibelli"  mat-stroked-button color="primary">Registrazione</button>
</div>
<component1 *ngIf="show1==true"></component1>
<component2 *ngIf="show2==true" ></component2>
<component3 *ngIf="show3==true"></component3>
<component4 *ngIf="show4==true" class="rscomponent4"></component4>
<component5 *ngIf="show5==true" class="rscomponent5"></component5>
    


 
   
