.bottonibelli {
    margin: 40px;
    font-size: 23px;
    padding: 20px;
    text-align: center;
}

.rsbuttons {
    text-align: center;
}

.rscomponent4{
    width: 50%;
    float: left;
}

.rscomponent5 {
   padding-top: 30px;
    width: 50%;
    float: left;
}