
    <div id="header">
        <div id="logo"> 
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngegg.com%2Fit%2Fsearch%3Fq%3Dsport%2Bsciocco%2Bin%2Bsoccermania&psig=AOvVaw19J2xPjDJAk0b6dnWyekEX&ust=1608659812422000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOCazfvS3-0CFQAAAAAdAAAAABAT">
        </div>
        <div id="login"> 
                <form action="loginpage">
                    <div class="form-input">
                        <label for="username" id="user">Username</label>
                        <input type="text" id="username" placeholder="Username">
                    </div>
                    <div class="form-input">
                        <label for="password" id="pass">Password</label>
                        <input type="password" id="password" placeholder="Password">
                    </div>
                    <div id="entra"class="form-input">
                        <input type="button" value="Entra">
                    </div>
                </form>
        </div>
        <div id="lingua"> 
            <label>lingua</label><br>
                <select>
                <option id="languageoption" value="Italiano">Italiano</option>
                <option value="Inglese">Inglese</option>
                <option value="Arabo">Arabo</option>
                </select>
            Valuta <br>
            <select>
                <option id="valuteoption" value="Euro">Euro</option>
                <option value="Sterlina">Sterlina</option>
                <option value="Dollari">Dollaro</option>
                </select>
        </div>
    </div>
