<div id="wrapper">
    <div *ngIf="varPrimo">
        <componente1gg></componente1gg>
    </div> <br>
    <button (click)="showComponent(1)">Mostra/Nascondi primo componente</button> <br>
    <div *ngIf="varSecondo">
        <componente2gg></componente2gg>
    </div> <br>
    <button (click)="showComponent(2)">Mostra/Nascondi secondo componente</button> <br>
    <div *ngIf="varTerzo">
        <componente3gg></componente3gg>
    </div> <br>
    <button (click)="showComponent(3)">Mostra/Nascondi terzo componente</button> <br>
    <div *ngIf="varQuarto">
        <componente4gg></componente4gg>
    </div> <br>
    <button (click)="showComponent(4)">Mostra/Nascondi quarto componente</button> <br>
    <div *ngIf="varQuinto">
        <componente5gg></componente5gg>
    </div> <br>
    <button (click)="showComponent(5)">Mostra/Nascondi quinto componente</button> <br>
</div>