<div id="wrapper">
    <div *ngIf="varPrimo">
        <component1></component1>
    </div> <br>
    <button (click)="showComponent(1)">Mostra/Nascondi primo componente</button> <br>
    <div *ngIf="varSecondo">
        <component2></component2>
    </div> <br>
    <button (click)="showComponent(2)">Mostra/Nascondi secondo componente</button> <br>
    <div *ngIf="varTerzo">
        <component3></component3>
    </div> <br>
    <button (click)="showComponent(3)">Mostra/Nascondi terzo componente</button> <br>
    <div *ngIf="varQuarto">
        <component4></component4>
    </div> <br>
    <button (click)="showComponent(4)">Mostra/Nascondi quarto componente</button> <br>
    <div *ngIf="varQuinto">
        <component5></component5>
    </div> <br>
    <button (click)="showComponent(5)">Mostra/Nascondi quinto componente</button> <br>
</div>