<button (click)="showComponent(1)">Componente 1</button>
<button (click)="showComponent(2)">Componente 2</button>
<button (click)="showComponent(3)">Componente 3 </button>
<button (click)="showComponent(4)">Componente 4</button>
<button (click)="showComponent(5)">Componente 5</button>
 
<component-1 *ngIf="mostraComponente1"></component-1>
<component-2 *ngIf="mostraComponente2"></component-2>
<component-3 *ngIf="mostraComponente3"></component-3>
<component-4 *ngIf="mostraComponente4"></component-4>
<component-5 *ngIf="mostraComponente5"></component-5>

