<mat-card id="wrapper">

    <div id="departure">
        <h4><mat-icon>flight_takeoff</mat-icon> Partenza da:</h4>
        <mat-form-field appearance="fill">
            <mat-label>Aereoporto di partenza</mat-label>
            <mat-select>
                <mat-option *ngFor="let aereoporto of aereoporti" [value]="aereoporto.value">
                    {{aereoporto.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div id="arrival">
        <h4><mat-icon>flight_land</mat-icon> Arrivo a:</h4>
        <mat-form-field appearance="fill">
            <mat-label>Aereoporto di arrivo</mat-label>
            <mat-select>
                <mat-option *ngFor="let aereoporto of aereoporti" [value]="aereoporto.value">
                    {{aereoporto.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div id="picker1">
        <h4><mat-icon>calendar_today</mat-icon> Data partenza:</h4>
        <mat-form-field appearance="fill">
            <mat-label>Scegli una data </mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>

    <div id="picker2" *ngIf="check.checked">
        <h4><mat-icon>calendar_today</mat-icon> Data ritorno:</h4>
        <mat-form-field appearance="fill">
            <mat-label>Scegli una data </mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>

    <div id="search-flight-button">
        <button mat-raised-button color="warn">Cerca voli</button>
    </div>
<br>

    <mat-checkbox name="check" #check [(ngModel)]="checkvalue" color="warn">Andata e ritorno</mat-checkbox>

</mat-card>