<div>

    <button mat-button [matMenuTriggerFor]="aboveMenu">VOLI</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
        <mat-option routerLink="/home" *ngFor="let menu of flightMenu" [value]="menu.value">
            {{menu.viewValue}}
        </mat-option>
    </mat-menu>


    <button mat-button [matMenuTriggerFor]="belowMenu">PRENOTAZIONE</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <mat-option routerLink="/flight" *ngFor="let menu of prenotation" [value]="menu.value">
            {{menu.viewValue}}
        </mat-option>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="beforeMenu">SCOPRI</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <mat-option routerLink="/home" *ngFor="let menu of discover" [value]="menu.value">
            {{menu.viewValue}}
        </mat-option>
    </mat-menu>


    <button mat-button [matMenuTriggerFor]="afterMenu">PIPPOJET</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
        <mat-option routerLink="/flight" *ngFor="let menu of pippojet" [value]="menu.value">
            {{menu.viewValue}}
        </mat-option>
    </mat-menu>
</div>