<mat-card id="wrapper">
    <div id="logo">
        <img id="logoimg" src="https://www.adesivipareti.com/25439-thickbox/adesivi-e-vynils-pippo-disney.jpg" />
    </div>
    <span>
        <h1 id="h1">LOGIN TO YOUR ACCOUNT</h1>
    </span>
    <div>
        <form>
            <mat-form-field id="text">
                <mat-label>Email</mat-label>
                <mat-icon>account_circle</mat-icon><br />
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </form>

    </div>
    <div>
        <mat-form-field id="text" appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field> <br />
    </div>
    <div id="forgot">
        <span>Forgot Password?</span>
    </div>
    <div id="remember">
        <label for="rememberpsw">Remember me</label>
        <input id="rememberpsw" type="checkbox" value="yes"> <br />
    </div>
    <div>
        <button id="login" mat-raised-button color="warn">LOGIN</button> <br />
    </div>
</mat-card>