<mat-card id="wrapper" class="content" role="main">

  <button mat-raised-button class=button id="btn1" (click)="showcomponent(1)" color="warn">Componente 1</button>

  <button mat-raised-button class=button id="btn2" (click)="showcomponent(2)" color="warn">Componente 2</button>

  <button mat-raised-button class=button id="btn3" (click)="showcomponent(3)" color="warn">Componente 3</button>

  <button mat-raised-button class=button id="btn4" (click)="showcomponent(4)" color="warn">Componente 4</button>

  <button mat-raised-button class=button id="btn5" (click)="showcomponent(5)" color="warn">Componente 5</button>

</mat-card>

<component-1 *ngIf="showcomponent1" [titolo] = "showtext1"></component-1>
<component-2 *ngIf="showcomponent2" [titolo] = "showtext2"></component-2>
<component-3 *ngIf="showcomponent3" [titolo] = "showtext3"></component-3>
<component-4 *ngIf="showcomponent4" [titolo] = "showtext4"></component-4>
<component-5 *ngIf="showcomponent5" [titolo] = "showtext5"></component-5>