#registration-box {
    width: fit-content;
    margin: auto;
    color: rgba(16, 16, 104, 0.87);
}

h1{
    font-weight: bold;
}

#login-box-logo {
    width: 100px;
    height: 100px;
}

.material-icons {
    font-size: 40px;
  }

.fields {
    
    margin-right: 30px;
  }