#wrapper {
    width: 320px;
    height: 650px;
    margin: 20px auto;
    padding: 20px;
}

#logoimg {
    height: 200px; 
    margin: 20px 0 0 60px;    
}

#h1 {
    color: rgba(16, 16, 104, 0.87);
    margin: 15px auto;
   text-align: center;
   font-weight: bold;
}

#text {
    margin: 0 0 0 30px;
    width: 250px;
}


.mat-icon {
    float: right;
    color: rgba(16, 16, 104, 0.87);
}


#forgot {
    float:right;
    margin: 20px 20px 0 0;
}

#remember {
    margin: 20px 0 0 20px;
}

#login {
   margin: 30px 0 10px 110px;
   width: 100px;
   text-align: center;
}