<button (click)="showComponent(1)">Componente 1</button>
<button (click)="showComponent(2)">Componente 2</button>
<button (click)="showComponent(3)">Componente 3 </button>
<button (click)="showComponent(4)" >Componente 4</button>
<button (click)="showComponent(5)">Componente 5</button>
 
<nccomponente-1 *ngIf="mostraComponente1"></nccomponente-1>
<nccomponente-2 *ngIf="mostraComponente2"></nccomponente-2>
<nccomponente-3 *ngIf="mostraComponente3"></nccomponente-3>
<nccomponente-4 *ngIf="mostraComponente4"></nccomponente-4>
<nccomponente-5 *ngIf="mostraComponente5"></nccomponente-5>

