<mat-card id="wrapper">
    <button class="component-button" mat-raised-button color="warn" (click)="showComponente(1)">Componente 1</button>
    <button class="component-button" mat-raised-button color="warn" (click)="showComponente(2)">Componente 2</button>
    <button class="component-button" mat-raised-button color="warn" (click)="showComponente(3)">Componente 3</button>
    <button class="component-button" mat-raised-button color="warn" (click)="showComponente(4)">Componente 4</button>
    <button class="component-button" mat-raised-button color="warn" (click)="showComponente(5)">Componente 5</button>
</mat-card>

<br>

<component-1 *ngIf="componente1" [titolo] = "testoDaMostrare1"></component-1>
<component-2 *ngIf="componente2" [titolo] = "testoDaMostrare2"></component-2>
<component-3 *ngIf="componente3" [titolo] = "testoDaMostrare3"></component-3>
<component-4 *ngIf="loginForm" [titolo] = "testoDaMostrare4"></component-4>
<component-5 *ngIf="registrationForm" [titolo] = "testoDaMostrare5"></component-5>